.header{
    width: 100vw;
    min-height: 120px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    box-shadow: -2px 2px 10px 2px rgba(0,0,0,.1);
    box-sizing: border-box;
}

.header__content-conteiner{
    width: 40%;
    min-width: 320px;
    height: 100%;
    margin: auto;
    padding: 0;
    position: relative;
    display: flex; 
    flex-direction: row;
    align-items: center;
    box-sizing: inherit;
}
.navigation-conteiner{
    justify-content: flex-start;
}

.profile-conteiner{
    justify-content: flex-end;
}

.header__navigation{
    width: 300px;
    height: 350px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10px;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: rgb(255,255,255);
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    transform: translateX(-330px);
    visibility: hidden;
}

.navigation__list{
    width: 90%;
    height: 60%;
    margin: auto;
    padding-left: 10px;
    box-sizing: inherit;
    list-style: none;
}

.list__item{
    width: 100%;
    height: 50px;
    margin: 20px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: left;
}

.item__link{
    width: 100%;
    height: 50%;
    margin: auto;
    padding: auto;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: rgb(0,0,0);
}

.table{
    background-image: url('../images/table.png');
}

.calendar{
    background-image: url('../images/calendar.png');
}

.notes{
    background-image: url('../images/notes.png');
}

.header__title{
    width: 70%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: rgb(0,0,0);
    text-decoration: none;
    box-sizing: border-box;
}

/*************burger_button*************************/

.header__button-burger{
    width: 40px;
    height: 40px;
    margin: auto 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}

.default-image{
    background-image: url('../images/button_menu.png');
}

.close-image{
    background-image: url('../images/button_menu_close.png');
}

.calendar-image{
    background-image: url('../images/calendar.png');
}

.table-image{
    background-image: url('../images/table.png');
}

.notes-image{
    background-image: url('../images/notes.png');
}

.header__button-burger:focus{
    outline-color: transparent;

}

/******************toggle button ***********************************/

.header__toggle-button{
    width: 140px;
    height: 40px;
    margin: auto 10px;
    padding-top: 5px;
    padding-left: 40px;
    position: relative;
    border: none;
    border-radius: 20px;
    background-color: rgb(141,165,189);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.profile-status::before{
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 42px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 1px rgba(0,0,0,.5));
}

.student-profile{

}

.mentor-profile{
    

}

/*************************profile button**************************************/

.header__profile-button{
    width: 140px;
    height: 40px;
    margin: auto 50px;
    padding-top: 6px;
    padding-left: 15px;
    align-self: flex-end;
    display: block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
    background-size: 30px;
    background-position: left;
    background-repeat: no-repeat;
    border: 2px solid rgb(141,165,189);
    box-sizing: border-box;
}

/****************animate burger menu*****************/

.open_menu{
    animation: menuOpen 0.5s forwards;
}


@keyframes menuOpen{
    0%{
        transform: translateX(-330px);
        visibility: hidden;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
    }
}